@keyframes gradient-flow {
    0% {
        background-position: 200% 45%;
    }

    100% {
        background-position: -200% 45%;
    }
}

.animate-gradient-flow {
    animation: gradient-flow var(--animation-duration, 5s) linear infinite;
    background: linear-gradient(90deg,
            #ff00cc,
            #3333ff,
            #00eaff,
            #ff00cc);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}